@font-face {
  font-family: 'Fortune';
  src: url('fortune-wheel-font/fortune-font.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  background-color: #784dc8;
  font-family: 'Fortune';
  letter-spacing: 2px;
  margin: 0; 
}

.title {
  background: linear-gradient(to bottom, #eeb32e 0%, #da8b1a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  text-align: center;
  margin: 20px auto 10px;
}

.title:hover,
h2 {
  cursor: default;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto 20px;
}

header div {
  text-align: center;
  background-color: #d8d8d8;
  width: 90%;
  margin: 0 auto;
  border: 5px solid grey;
  border-radius: 15px;
}

.in-the-hole {
  margin-right: 0px;
  height: 6rem;
  margin-top: 6rem;
  font-size: .8rem;
}

.on-deck {
  margin-left: 0px;
  height: 6rem;
  margin-top: 6rem;
  font-size: .8rem;
}

.at-bat {
  width: 40rem;
  height: 10rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  box-shadow: 0px 3px 11px 0 rgba(0, 0, 0, 0.3);
}

h2 {
  margin-bottom: 12px;
}

.top-buttons,
.start-button {
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 3px;
  text-shadow: 0 .5px 1px rgba(50, 50, 50, .5);
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(#eeb32e, #da8b1a);
  border: 2px solid #c17717;
  border-left-width: 0;
  border-right-width: 0;
  border-top: none;
  box-shadow: 0px 3px 11px 0 rgba(0, 0, 0, 0.3);
  transition: .3s;
  outline: none;
}

.top-buttons:hover,
.start-button:hover {
  cursor: pointer;
  transform: translateY(-1px);
  letter-spacing: 3px;
  color: white;
  transition: .3s;
}

.guess-button {
  margin: 0 75px;
}

.puzzle-section {
  background-color: rgba(0, 0, 0, 0.65);
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.puzzle-grid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  height: 225px;
  width: 60%;
}

.letter-container {
  height: 56px;
  background-color: #1c7455;
  border: 2px solid rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  padding-top: 5px;
}

.letter-container:hover {
  cursor: default;
}

.keyboard-section {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  height: 100px;
  width: 65%;
  font-size: 1.5rem;
  margin: 20px auto;
}

.keyboard-letters {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 1px 1px rgba(50, 50, 50, .5);
  background: linear-gradient(#17b4e3, #277cc9);
  border: 2px solid #246ab2;
  border-left-width: 0;
  border-right-width: 0;
  border-top: none;
  box-shadow: 0px 3px 11px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  padding-top: 5px; 
  margin: 2px;
  width: 95%;
  position: relative;
  transition: .2s;
}

.keyboard-letters::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 2px solid #246ab2;
  border-left-width: 0;
  border-right-width: 0;
  border-top: none;
  box-shadow: 0px 3px 11px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(lightblue, #277cc9);
  opacity: 0;
  transition: .2s;
}

.keyboard-letters span {
  z-index: 2;
  cursor: pointer;
}

.keyboard-letters:hover::after {
  cursor: pointer;
  opacity: 1;
  transition: .3s;
}

.vowel {
  background: #246ab2;
}

.vowel:hover::after {
  opacity: 0;
  cursor: default;
}

.empty {
  background: none;
  border: none;
}

.quit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17b4e3;
  border: 2px solid #246ab2;
  border-left-width: 0;
  border-right-width: 0;
  border-top: none;
  box-shadow: 0px 3px 11px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 50px;
  height: 125px;
  position: absolute;
  bottom: -133px;
  left: 20px;
  transition: .35s;
}

.quit:hover {
  cursor: pointer;
  background-color: tomato;
  border-color: darkred;
  transition: .35s;
}

.quit-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 1.5rem;
}

.wheel {
  /*display: none;*/
  width: 800px;
  height: 600px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 6;
  margin: 0 auto;
  background: linear-gradient(150deg, #38383a, #252122);
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0px black;
}


.wheel-circle {
  clip-path: circle(50%);
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 525px;
  width: 525px;
  background: lightblue;
}

.wheel-spin {
  animation: spin 4s ease-out;
}

.wheel-option {
  position: absolute;
  width: 350px;
  height: 350px;
  clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%);
}

.q-mark {
  z-index: 7;
  position: absolute;
  font-size: 7rem;
}

.mark1 {
  right: 89px;
  bottom: 75px;
  transform: rotate(-60deg);
}

.mark2 {
  right: 142px;
  bottom: 150px;
  transform: rotate(-180deg);
}

.mark3 {
  right: 140px;
  bottom: 150px;
  transform: rotate(-190deg);
}

.mark4 {
  right: 149px;
  bottom: 150px;
  transform: rotate(-190deg);
}

.mark5 {
  right: 149px;
  bottom: 150px;
  transform: rotate(-190deg);
}

.mark6 {
  right: 149px;
  bottom: 150px;
  transform: rotate(-190deg);
}

.option1 {
  top: -108px;
  left: -2px;
  transform: rotate(30deg);  
  background: #ab79db;
}

.option2 {
  clip-path: polygon(0% 84%, 50% 0%, 50% 0%, 100% 87%);
  top: 90.5px;
  left: -91.5px;
  background: #ff0000;
  transform: rotate(90deg);
}

.option3 {
  top: 241.5px;
  left: -3.5px;
  background: #3abaff;
  transform: rotate(30.2deg);
}

.option4 {
  bottom: -68px;
  left: 170px;
  background: #fff200;
  transform: rotate(-29.5deg);
}

.option5 {
  top: 91.5px;
  right: -83px;
  background: #3bb878;
  transform: rotate(-89.3deg);
}

.option6 {
  clip-path: polygon(0% 83%, 50% 0%, 50% 0%, 100% 87%);
  top: -60px;
  left: 171px;
  background: #ff6a0e;
  transform: rotate(-150.1deg);
}

.slide-in {
  display: unset;
  animation: slide 1s ease;
  transform: translateX(0);
}

@keyframes slide {
  0% {
    transform: translateX(-1080px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(-1000deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.spin-text {
  cursor: pointer;
  position: absolute;
  bottom: 65px;
  left: 101px;
  transform: rotate(-38deg);
  font-size: 2rem;
  color: lightgrey;
  background-color: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.arrow {
  cursor: pointer;
  position: absolute;
  bottom: 60px;
  left: 90px;
  transform: rotate(-38deg);
  color: whitesmoke;
  fill: currentColor;
}

.popup-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.85);
  display: unset;
}

.home-screen {
  position: absolute;
  z-index: 4;
  top: 50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 330px;
  padding-bottom: 20px;
  border-radius: 15px;
  width: 900px;
  height: 600px;
  background: url(https://c1.staticflickr.com/4/3427/3360891586_8faa74b1be_b.jpg);
  background-size: cover;
  background-position: center;
}

.name-input {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  border: 4px solid #eeb32e;
  padding-left: 8px;
  outline: none;
  font-size: 1.1rem;
  box-shadow: 0px 5px 11px 5px rgba(0, 0, 0, 0.7);
}

.start-button {
  box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.6);
}














