@font-face {
  font-family: 'Fortune';
  src: url('fortune-wheel-font/SF Fortune Wheel Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(./pics/background.png);
  background-size: cover; 
  font-family: 'Fortune';
  letter-spacing: 2px;
  margin: 0 auto; 
  max-width: 1400px;
}

body::before {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.title {
  background: linear-gradient(to bottom, #eeb32e 0%, #da8b1a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  margin: 20px auto 10px;
  text-align: center;
}

.title:hover,
h2 {
  cursor: default;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto 20px;
}

header div {
  background-color: #d8d8d8;
  border-radius: 15px;
  border: 5px solid grey;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.in-the-hole {
  font-size: .8rem;
  height: 6rem;
  margin-right: 0px;
  margin-top: 6rem;
}

.on-deck {
  font-size: .8rem;
  height: 6rem;
  margin-left: 0px;
  margin-top: 6rem;
}

.at-bat {
  box-shadow: 0px 3px 11px 0 rgba(0, 0, 0, 0.3);
  font-size: 1.3rem;
  height: 10rem;
  margin-bottom: 2rem;
  width: 40rem;
}

.game-winner {
  animation: shimmer 1.7s ease infinite;
}

@keyframes shimmer {
  0%, 100% {
    text-shadow: 0 0 0 whitesmoke;
  }
  50% {
    text-shadow: 0 0 45px #da8b1a;
  }
}

h2 {
  margin-bottom: 12px;
}

.top-buttons,
.start-button,
.solve-popup button,
.start-bonus-round,
.new-game {
  background: linear-gradient(#eeb32e, #da8b1a);
  border: 2px solid #c17717;
  border-left-width: 0;
  border-radius: 50px;
  border-right-width: 0;
  border-top: none;
  box-shadow: 0px 3px 11px 0 rgba(0, 0, 0, 0.3);
  color: whitesmoke;
  font-size: 1rem;
  font-weight: bold;
  height: 50px;
  letter-spacing: 2px;
  outline: none;
  padding-top: 3px;
  text-shadow: 0 .5px 1px rgba(50, 50, 50, .5);
  transition: .3s;
  width: 150px;
}

.top-buttons:hover,
.start-button:hover,
.solve-popup button:hover,
.start-bonus-round:hover,
.new-game:hover {
  color: white;
  cursor: pointer;
  letter-spacing: 3px;
  transform: translateY(-1px);
  transition: .3s;
}

.solve-button {
  margin: 0 65px;
}

.puzzle-section {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  height: 250px;
  justify-content: center;
  position: relative;
}

.puzzle-grid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  height: 225px;
  width: calc(600px + 6%);
}

.letter-container {
  align-items: center;
  background-color: #1c7455;
  border: 2px solid rgba(0, 0, 0, 0.8);
  display: flex;
  font-size: 2.5rem;
  height: 56px;
  justify-content: center;
  padding-top: 5px;
}

.letter-container:hover {
  cursor: default;
}

.keyboard-section {
  position: relative;
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: repeat(13, 1fr);
  height: 100px;
  margin: 20px auto;
  width: 65%;
}

.keyboard-letters {
  align-items: center;
  background: linear-gradient(#17b4e3, #277cc9);
  border: 2px solid #246ab2;
  border-left-width: 0;
  border-radius: 50px;
  border-right-width: 0;
  border-top: none;
  box-shadow: 0px 3px 11px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  margin: 2px;
  padding-top: 5px; 
  position: relative;
  text-shadow: 0 1px 1px rgba(50, 50, 50, .5);
  width: 95%;
}

.keyboard-letters:hover {
  background: #17b4e3;
  cursor: pointer;
  opacity: 1;
}

.vowel {
  background: #1B5999;
  cursor: default;
}

.disabled,
.temp-disabled,
.vowel-disabled {
  background: #1B5999;
  cursor: default;
}

.vowel:hover,
.disabled:hover,
.temp-disabled:hover {
  background: #1B5999;
  cursor: default;
}

.active-vowel {
  background: linear-gradient(#51ef88, #3ed673);
  border: 2px solid #2eaa59;
  border-left-width: 0;
  border-radius: 50px;
  border-right-width: 0;
  border-top: none;
  box-shadow: 0px 3px 11px 0 rgba(0, 0, 0, 0.3);
  margin: 2px;
  padding-top: 5px; 
  position: relative;
  text-shadow: 0 1px 1px rgba(50, 50, 50, .5);
  transition: .2s;
  width: 95%;
}

.active-vowel:hover {
  background: linear-gradient(#51ef88, #3ed673);
  box-shadow: 0 0 3px 3px #6fe276;
}

.empty {
  background: none;
  border: none;
}

.quit,
.round-container {
  align-items: center;
  background-color: #17b4e3;
  border: 2px solid #246ab2;
  border-left-width: 0;
  border-radius: 10px;
  border-right-width: 0;
  border-top: none;
  bottom: -133px;
  box-shadow: 0px 3px 11px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  height: 125px;
  justify-content: center;
  left: 20px;
  position: absolute;
  transition: .35s;
  width: 50px;
}

.round-container {
  color: #eeb32e;
  background-color: #641084;
  border: 5px solid grey;
  border-radius: 15px;
  left: 80px;
  width: 125px;
  padding-top: 5px;
  cursor: default;
}

.quit:hover {
  background-color: tomato;
  border-color: darkred;
  cursor: pointer;
  transition: .35s;
}

.quit-text,
.round-text {
  font-size: 1.5rem;
  text-orientation: upright;
  writing-mode: vertical-lr;
}

.round-text {
  text-align: center;
  font-size: 1.1rem;
  height: 100px;
  margin-left: 23px;
}

.round-num {
  font-size: 4rem;
  margin-top: 11px;
}

.wheel {
  background: linear-gradient(150deg, #38383a, #252122);
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0px black;
  display: none;
  height: 600px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 60px;
  width: 800px;
  z-index: 6;
}


.wheel-circle {
  background: lightblue;
  clip-path: circle(50%);
  -webkit-clip-path: circle(50%);
  height: 525px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 40px;
  width: 525px;
}

.wheel-spin {
  animation: spin 2.2s ease-out;
}

.wheel-option {
  clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%);
  -webkit-clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%);
  height: 350px;
  position: absolute;
  width: 350px;
}

.q-mark {
  font-size: 1.8rem;
  position: absolute;
  writing-mode: vertical-lr;
  z-index: 7;
}

.mark1 {
  right: 115px;
  bottom: 2px;
  transform: rotate(-65deg);
  height: 221px;
}

.mark2 {
  right: 158px;
  bottom: 100px;
  transform: rotate(-180deg);
}

.mark3 {
  right: 162px;
  bottom: 100px;
  transform: rotate(-177deg);
}

.mark4 {
  right: 157px;
  bottom: 98px;
  transform: rotate(-181deg);
}

.mark5 {
  right: 157px;
  bottom: 95px;
  transform: rotate(-181deg);
}

.mark6 {
  right: 162px;
  bottom: 98px;
  transform: rotate(-178deg);
  height: 221px;
}

.option1 {
  top: -108px;
  left: -2px;
  transform: rotate(30deg);  
  background: #ab79db;
}

.option2 {
  clip-path: polygon(0% 84%, 50% 0%, 50% 0%, 100% 87%);
  -webkit-clip-path: polygon(0% 84%, 50% 0%, 50% 0%, 100% 87%);
  top: 90.5px;
  left: -91.5px;
  background: #ff0000;
  transform: rotate(90deg);
}

.option3 {
  top: 241.5px;
  left: -3.5px;
  background: #3abaff;
  transform: rotate(30.2deg);
}

.option4 {
  bottom: -68px;
  left: 170px;
  background: #fff200;
  transform: rotate(-29.5deg);
}

.option5 {
  top: 91.5px;
  right: -83px;
  background: #3bb878;
  transform: rotate(-89.3deg);
}

.option6 {
  clip-path: polygon(0% 83%, 50% 0%, 50% 0%, 100% 87%);
  -webkit-clip-path: polygon(0% 83%, 50% 0%, 50% 0%, 100% 87%);
  top: -60px;
  left: 171px;
  background: #ff6a0e;
  transform: rotate(-150.1deg);
}

.slide-in {
  animation: slide 1s ease;
  transform: translateX(0);
  display: unset;
}

@keyframes slide {
  0% {
    transform: translateX(-1080px);
  }  
  100% {
    transform: translateX(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(-1000deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.spin-text {
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  background-color: #666666;
  bottom: 65px;
  color: lightgrey;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  left: 101px;
  position: absolute;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  transform: rotate(-38deg);
}

.arrow {
  bottom: 60px;
  color: whitesmoke;
  cursor: pointer;
  fill: currentColor;
  left: 90px;
  position: absolute;
  transform: rotate(-38deg);
}

.popup-cover {
  background: rgba(0, 0, 0, 0.85);
  bottom: 0;
  display: unset;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.home-screen {
  align-items: center;
  background: url(./pics/home-background.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-around;
  left: 0;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 330px;
  position: absolute;
  right: 0;
  top: 50px;
  width: 900px;
  z-index: 4;
}

.name-input {
  border-radius: 15px;
  border: 4px solid #eeb32e;
  box-shadow: 0px 5px 11px 5px rgba(0, 0, 0, 0.7);
  font-size: 1.1rem;
  height: 40px;
  outline: none;
  padding-left: 8px;
  width: 200px;
}

.start-button {
  box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.6);
}

.current-spin-value, .hint {
  background-color: #641084;
  border-radius: 15px;
  border: 5px solid grey;
  color: #eeb32e;
  font-size: 1.2rem;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 15%;
}

.current-spin-value {
  left: 30px;
}

.hint {
  right: 30px;
}

.spin-number-header {
  font-size: calc(.5vw + .65rem);
  text-shadow: 0px 0px 1px #eeb32e;
}

.spin-number {
  color: #da8b1a;
  font-size: 1.5rem;
  text-shadow: 0px 0px 1px #da8b1a;
}

.hint-value {
  color: #da8b1a;
  font-size: 1.3rem;
  text-shadow: 0px 0px 1px #da8b1a;
}

.hint-header{
  font-size: calc(.5vw + .65rem);
  text-shadow: 0px 0px 1px #eeb32e;
}

.vowel-error {
  background-color: #d8d8d8;
  border-radius: 15px;
  border: 5px solid grey;
  color: darkred;
  display: none;
  font-size: .7rem;
  position: absolute;
  text-align: center;
  top: -22px;
  width: 450px;
}

.yell-box {
  align-items: center;
  color: tomato;
  font-size: 0rem;
  justify-content: center;
  position: absolute;
  text-shadow: 0px 0px 10px tomato;
  top: -22px;
}

.yell-active {
  animation: yell 2s ease;
}

@keyframes yell {
  0%, 100% {
    font-size: 0rem;
  }
  50% {
    font-size: 7rem;
  }
}

.solve-popup {
  align-items: center;
  background-color: #d8d8d8;
  border-radius: 15px;
  border: 5px solid grey;
  bottom: 10px;
  display: none;
  flex-direction: column;
  height: 190px;
  justify-content: space-around;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 650px;
  z-index: 2;
}

.solve-input {
  font-size: 1.2rem;
  height: 35px;
  margin-bottom: 10px;
  width: 300px;
}

.solve-popup h2 {
  font-size: 1.7rem;
  margin-bottom: 5px;
}

.solve-popup button {
  margin-bottom: 5px;
}

.bank-accts {
  background: #641084;
  border: 5px solid grey;
  border-radius: 15px;
  bottom: 0;
  color: #eeb32e;
  position: absolute;
  right: -197px;
  width: 170px;
}

.bank-accts h3 {
  font-size: .9rem;
  margin: 10px auto;
  text-align: center;
}

.bank-accts h4 {
  font-size: .8rem;
  margin: 5px auto;
  text-align: center;
}

.bonus-round-intro {
  align-items: center;
  background-color: #d8d8d8;
  border: 5px solid grey;
  border-radius: 15px;
  display: none;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  left: 0;
  margin: 0 auto;
  padding-bottom: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 100px;
  width: 500px;
  z-index: 99;
}

.bonus-round-intro h2 {
  margin-bottom: 25px;
}

.name-of-bonus-player {
  font-size: 2rem;
}

.bonus-round-header {
  background: linear-gradient(to bottom, #eeb32e 0%, #da8b1a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  margin: 30px auto 20px;
  text-align: center;
  width: 100%;
}

.bonus-instructions {
  background: linear-gradient(to bottom, #eeb32e 0%, #da8b1a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}



















